@import 'components/nav';
@import 'components/chatterminal';
@import 'components/macbar';
@import 'components/desktopicon';

html {
    height: 100%;
    background-color: #E6E6E6;
    ::-webkit-scrollbar { 
        display: none; 
    }
}
body {
	height: 100%;
}

.app-background {
    background: url("https://wallpapercave.com/wp/kZLsbwo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}