@import 'components/nav';
@import 'components/chatterminal';

html {
    height: 100%;
    background-color: #E6E6E6;
}
body {
	height: 100%;
}

.app-background {
    background: url("/src/assets/images/mac-screen.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}